# SPDX-License-Identifier: GPL-2.0-only
# Synthetic segment fixtures for the QSEECOM image-loading tests.
# See Documentation/tee/qseecom.rst for the ARM64 QEMU invocation.
CONFIG_KUNIT=y
CONFIG_COMPILE_TEST=y
CONFIG_QCOM_SOC=y
CONFIG_QCOM_MDT_LOADER=y
CONFIG_QCOM_MDT_LOADER_KUNIT_TEST=y
CONFIG_FW_LOADER=y
CONFIG_EXTRA_FIRMWARE_DIR="drivers/soc/qcom/mdt_loader_test"
CONFIG_EXTRA_FIRMWARE="qcom-mdt-test.b00 qcom-mdt-test.b01 qcom-mdt-test.b03"
