// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "sdm845-google-common.dtsi"

/ {
	model = "Google Pixel 3 XL";
	compatible = "google,crosshatch", "qcom,sdm845";
};

&battery {
	charge-full-design-microamp-hours = <3480000>;
	voltage-min-design-microvolt = <3600000>;
	voltage-max-design-microvolt = <4400000>;
};

&framebuffer0 {
	width = <1440>;
	height = <2960>;
	stride = <(1440 * 4)>;
};

&dispcc {
	/* Neither PHY clock provider is needed while DISPCC registers. */
	post-init-providers = <&mdss_dsi0_phy>, <&usb_1_qmpphy>;
};

&i2c2 {
	clock-frequency = <400000>;

	status = "okay";

	touchscreen@48 {
		compatible = "samsung,s6sy761";
		reg = <0x48>;

		interrupt-parent = <&tlmm>;
		interrupts = <125 IRQ_TYPE_LEVEL_LOW>;

		avdd-supply = <&vreg_l19a_3p3>;
		vdd-supply = <&vreg_l14a_1p8>;

		pinctrl-0 = <&touchscreen_irq_n>, <&touchscreen_reset>,
			    <&touchscreen_switch>;
		pinctrl-names = "default";

		touchscreen-size-x = <1440>;
		touchscreen-size-y = <2960>;
	};
};

&mdss_dsi0 {
	vdda-supply = <&vdda_mipi_dsi0_1p2>;

	status = "okay";

	panel@0 {
		compatible = "samsung,s6e3ha8-crosshatch";
		reg = <0>;

		vddi-supply = <&vreg_l14a_1p8>;
		vci-supply = <&vreg_l28a_3p0>;

		te-gpios = <&tlmm 12 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&tlmm 6 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&panel_default>;
		pinctrl-names = "default";

		port {
			panel_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	data-lanes = <0 1 2 3>;
	remote-endpoint = <&panel_in>;
	qcom,te-source = "mdp_vsync_e";
};

&mdss_dsi0_phy {
	vdds-supply = <&vdda_mipi_dsi0_pll>;

	status = "okay";
};

&spi4 {
	status = "okay";

	citadel@0 {
		compatible = "google,citadel";
		reg = <0>;
		spi-max-frequency = <1200000>;
	};
};

&tlmm {
	panel_default: panel-default-state {
		reset-pins {
			pins = "gpio6";
			function = "gpio";
			drive-strength = <8>;
			bias-disable;
		};

		te-pins {
			pins = "gpio12";
			function = "mdp_vsync";
			drive-strength = <2>;
			bias-pull-down;
		};
	};

	touchscreen_switch: ts-switch-state {
		pins = "gpio136";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-high;
	};
};

&touchscreen_reset {
	output-high;
};

&wifi {
	qcom,calibration-variant = "Google_crosshatch";
};
