// SPDX-License-Identifier: GPL-2.0
#include "qcom-msm8930.dtsi"

/ {
	model = "Samsung Galaxy Express GT-I8730";
	compatible = "samsung,expressltexx", "qcom,msm8930";
	chassis-type = "handset";

	aliases {
		display0 = &framebuffer0;
		serial0 = &gsbi5_serial;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		stdout-path = "serial0:115200n8";

		framebuffer0: framebuffer@88a00000 {
			compatible = "simple-framebuffer";
			reg = <0x88a00000 0x119400>;
			width = <480>;
			height = <800>;
			stride = <1440>;
			format = "r8g8b8";
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		framebuffer@88a00000 {
			reg = <0x88a00000 0x119400>;
			no-map;
		};
	};

};

&{/memory@80000000} {
	/* Conservative first RAM bank until the lk2nd-patched FDT reaches Linux. */
	reg = <0x80000000 0x20000000>;
};

&gsbi5 {
	qcom,mode = <GSBI_PROT_I2C_UART>;
	status = "okay";
};

&gsbi5_serial {
	pinctrl-0 = <&gsbi5_uart_default_state>;
	pinctrl-names = "default";
	status = "okay";
};

&rpm {
	regulators {
		compatible = "qcom,rpm-pm8917-regulators";

		pm8917_s4: s4 {
			regulator-always-on;
			regulator-boot-on;
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			qcom,switch-mode-frequency = <1600000>;
			bias-pull-down;
		};

		pm8917_l3: l3 {
			regulator-min-microvolt = <3075000>;
			regulator-max-microvolt = <3075000>;
			bias-pull-down;
		};

		pm8917_l4: l4 {
			regulator-always-on;
			regulator-boot-on;
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			bias-pull-down;
		};

		pm8917_l5: l5 {
			regulator-always-on;
			regulator-boot-on;
			regulator-min-microvolt = <2950000>;
			regulator-max-microvolt = <2950000>;
			bias-pull-down;
		};
	};
};

&sdcc1 {
	pinctrl-0 = <&sdcc1_default_state>;
	pinctrl-1 = <&sdcc1_sleep_state>;
	pinctrl-names = "default", "sleep";
	vmmc-supply = <&pm8917_l5>;
	vqmmc-supply = <&pm8917_s4>;
	status = "okay";
};

&tlmm {
	gsbi5_uart_default_state: gsbi5-uart-default-state {
		uart-pins {
			pins = "gpio22", "gpio23";
			function = "gsbi5";
			drive-strength = <8>;
			bias-disable;
		};
	};

	sdcc1_default_state: sdcc1-default-state {
		clk-pins {
			pins = "sdc1_clk";
			drive-strength = <16>;
			bias-disable;
		};

		cmd-pins {
			pins = "sdc1_cmd";
			drive-strength = <10>;
			bias-pull-up;
		};

		data-pins {
			pins = "sdc1_data";
			drive-strength = <10>;
			bias-pull-up;
		};
	};

	sdcc1_sleep_state: sdcc1-sleep-state {
		clk-pins {
			pins = "sdc1_clk";
			drive-strength = <2>;
			bias-disable;
		};

		cmd-pins {
			pins = "sdc1_cmd";
			drive-strength = <2>;
			bias-pull-up;
		};

		data-pins {
			pins = "sdc1_data";
			drive-strength = <2>;
			bias-pull-up;
		};
	};
};

&usb1 {
	dr_mode = "peripheral";
	status = "okay";
};

&usb_hs1_phy {
	v1p8-supply = <&pm8917_l4>;
	v3p3-supply = <&pm8917_l3>;

	qcom,init-seq = /bits/ 8 <
		0x44 0x80
		0x5f 0x81
		0x3c 0x82
		0x13 0x83
	>;
};
