// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;

#include "qcom-msm8227.dtsi"

/ {
	model = "Nokia Lumia 520";
	compatible = "nokia,fame", "qcom,msm8227";
	chassis-type = "handset";

	aliases {
		mmc0 = &sdcc1;
		serial0 = &gsbi5_serial;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@80200000 {
		device_type = "memory";
		reg = <0x80200000 0x08c00000>,
		      <0x90000000 0x10000000>;
	};

};

&gsbi5 {
	status = "okay";
};

&gsbi5_serial {
	status = "okay";
};

&sdcc1 {
	status = "okay";
};

&usb1 {
	status = "okay";
};
