// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "qcom-msm8227.dtsi"

/ {
	model = "Nokia Lumia 520";
	compatible = "nokia,fame", "qcom,msm8227";
	chassis-type = "handset";

	aliases {
		mmc0 = &sdcc1;
		serial0 = &gsbi5_serial;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@80200000 {
		device_type = "memory";
		reg = <0x80200000 0x08c00000>,
		      <0x90000000 0x10000000>;
	};

};

&gsbi5 {
	status = "okay";
};

&gsbi5_serial {
	status = "okay";
};

&rpm {
	regulators {
		compatible = "qcom,rpm-pm8038-regulators";

		pm8038_l2: l2 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			bias-pull-down;
		};

		pm8038_l3: l3 {
			regulator-min-microvolt = <3075000>;
			regulator-max-microvolt = <3075000>;
			bias-pull-down;
		};

		pm8038_l4: l4 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			bias-pull-down;
		};

		pm8038_l5: l5 {
			regulator-always-on;
			regulator-boot-on;
			regulator-min-microvolt = <2950000>;
			regulator-max-microvolt = <2950000>;
			bias-pull-down;
		};

		pm8038_l8: l8 {
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <3000000>;
			bias-pull-down;
		};

		pm8038_l11: l11 {
			regulator-always-on;
			regulator-boot-on;
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			bias-pull-down;
		};
	};
};

&sdcc1 {
	pinctrl-0 = <&sdcc1_default_state>;
	pinctrl-1 = <&sdcc1_sleep_state>;
	pinctrl-names = "default", "sleep";
	vmmc-supply = <&pm8038_l5>;
	vqmmc-supply = <&pm8038_l11>;
	status = "okay";
};

&tlmm {
	panel_reset_state: panel-reset-state {
		pins = "gpio58";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-high;
	};

	sdcc1_default_state: sdcc1-default-state {
		clk-pins {
			pins = "sdc1_clk";
			drive-strength = <16>;
			bias-disable;
		};

		cmd-pins {
			pins = "sdc1_cmd";
			drive-strength = <10>;
			bias-pull-up;
		};

		data-pins {
			pins = "sdc1_data";
			drive-strength = <10>;
			bias-pull-up;
		};
	};

	sdcc1_sleep_state: sdcc1-sleep-state {
		clk-pins {
			pins = "sdc1_clk";
			drive-strength = <2>;
			bias-disable;
		};

		cmd-pins {
			pins = "sdc1_cmd";
			drive-strength = <2>;
			bias-pull-up;
		};

		data-pins {
			pins = "sdc1_data";
			drive-strength = <2>;
			bias-pull-up;
		};
	};
};

&usb1 {
	status = "okay";
};

&usb_hs1_phy {
	v1p8-supply = <&pm8038_l4>;
	v3p3-supply = <&pm8038_l3>;
	qcom,init-seq = /bits/ 8 <0x01 0x38 0x02 0x14>;
};

&mdp {
	status = "okay";
};

&mdp_port0 {
	status = "okay";
};

&mdp_port1 {
	status = "okay";
};

&dsi0 {
	vdda-supply = <&pm8038_l2>;
	avdd-supply = <&pm8038_l8>;
	vddio-supply = <&pm8038_l11>;
	status = "okay";

	panel@0 {
		compatible = "nokia,teisko";
		reg = <0>;

		reset-gpios = <&tlmm 58 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&panel_reset_state>;
		pinctrl-names = "default";

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};
	};
};

&dsi0_out {
	data-lanes = <1 2>;
	remote-endpoint = <&panel_in>;
};

&dsi0_phy {
	vddio-supply = <&pm8038_l11>;
	status = "okay";
};
