// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;

#include "qcom-msm8227.dtsi"

/ {
	model = "Nokia Lumia 520";
	compatible = "nokia,fame", "qcom,msm8227";
	chassis-type = "handset";

	aliases {
		display0 = &framebuffer0;
		serial0 = &gsbi5_serial;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		stdout-path = "serial0:115200n8";

		framebuffer0: framebuffer@80400000 {
			compatible = "simple-framebuffer";
			reg = <0x80400000 0x400000>;
			memory-region = <&framebuffer_region>;
			width = <480>;
			height = <800>;
			stride = <1920>;
			format = "a8r8g8b8";
		};
	};

	memory@80200000 {
		device_type = "memory";
		reg = <0x80200000 0x08c00000>,
		      <0x90000000 0x10000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		framebuffer_region: framebuffer@80400000 {
			reg = <0x80400000 0x400000>;
			no-map;
		};
	};
};

&gsbi5 {
	status = "okay";
};

&gsbi5_serial {
	status = "okay";
};

&usb1 {
	status = "okay";
};
