/*
 * Copyright 2017 Alexander Kurz <akurz@blala.de>
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;

#include "imx50-kindle-common.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Amazon Kindle 4th Generation (Tequila)";
	compatible = "amazon,kindle-d01100", "fsl,imx50";

	chosen {
		stdout-path = &uart1;
	};

	memory@70000000 {
		device_type = "memory";
		reg = <0x70000000 0x10000000>;
	};


	keyboard {
		compatible = "gpio-matrix-keypad";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_keyboard>;

		col-scan-delay-us = <10>;
		debounce-delay-ms = <10>;
		wakeup-source;

		col-gpios = <&gpio5 12 GPIO_ACTIVE_LOW>;

		row-gpios = <
			&gpio4 1 GPIO_ACTIVE_LOW
			&gpio4 3 GPIO_ACTIVE_LOW
			&gpio4 5 GPIO_ACTIVE_LOW
			&gpio4 7 GPIO_ACTIVE_LOW
			&gpio4 0 GPIO_ACTIVE_LOW
			&gpio4 2 GPIO_ACTIVE_LOW
			&gpio4 4 GPIO_ACTIVE_LOW
			&gpio4 6 GPIO_ACTIVE_LOW
		>;

		linux,keymap = <
			MATRIX_KEY(0, 0, KEY_A)
			MATRIX_KEY(1, 0, KEY_B)
			MATRIX_KEY(2, 0, KEY_C)
			MATRIX_KEY(3, 0, KEY_D)
			MATRIX_KEY(4, 0, KEY_E)
			MATRIX_KEY(5, 0, KEY_F)
			MATRIX_KEY(6, 0, KEY_G)
			MATRIX_KEY(7, 0, KEY_H) 
		>;

		// linux,keymap = <
		// 	MATRIX_KEY(0, 0, KEY_LEFTCTRL)
		// 	MATRIX_KEY(0, 1, KEY_MENU)
		// 	MATRIX_KEY(0, 2, KEY_PAGEDOWN)
		// 	MATRIX_KEY(0, 3, KEY_F21)
		// 	MATRIX_KEY(0, 4, KEY_F23)
		// 	MATRIX_KEY(0, 5, KEY_PAGEUP)
		// 	MATRIX_KEY(0, 6, KEY_HOME)
		// 	MATRIX_KEY(0, 7, KEY_BACK) 
		// >;

	};

};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx50-kindle4nt {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX50_PAD_EIM_EB1__GPIO1_20		0xc0
				MX50_PAD_EIM_EB0__GPIO1_19		0xc0
				MX50_PAD_EIM_CS2__GPIO1_16		0xc0
				MX50_PAD_EIM_CS1__GPIO1_17		0xc0
				MX50_PAD_EIM_CS0__GPIO1_18		0xc0
				MX50_PAD_SSI_RXC__GPIO6_5		0x84
			>;
		};
	};
};

&i2c2 {
	clock-frequency = <50000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	max14656@35 {
		compatible = "maxim,max14656";
		reg = <0x35>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_charger_detect>;
		interrupt-parent = <&gpio6>;
		interrupts = <26 IRQ_TYPE_LEVEL_HIGH>;
	};

	smart-battery@55 {
		compatible = "ti,bq27210";
		reg = <0x55>;
		ti,i2c-retry-count = <2>;
		ti,poll-retry-count = <10>;
	};
};