// SPDX-License-Identifier: GPL-2.0+
//
// Copyright 2013 Greg Ungerer <gerg@uclinux.org>
// Copyright 2011 Freescale Semiconductor, Inc.
// Copyright 2011 Linaro Ltd.

/dts-v1/;
#include "imx50.dtsi"

/ {
	model = "Amazon Kindle 4th Generation (Tequila)";
	compatible = "fsl,imx50-evk", "fsl,imx50";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@70000000 {
		device_type = "memory";
		reg = <0x70000000 0x80000000>;
	};
};

&cspi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_cspi>;
	cs-gpios = <&gpio4 11 0>, <&gpio4 13 0>;
	status = "okay";
};

&iomuxc {
	imx50-tequila {
		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX50_PAD_UART1_TXD__UART1_TXD_MUX	0x1c4
				MX50_PAD_UART1_RXD__UART1_RXD_MUX	0x1e4
			>;
		};

		pinctrl_wdog: wdoggrp {
			fsl,pins = <
				MX50_PAD_WDOG__WDOG1_WDOG_RST_B_DEB	0xc
			>;
		};

		pinctrl_cspi: cspigrp {
			fsl,pins = <
				MX50_PAD_CSPI_MISO__CSPI_MISO		0xc4
				MX50_PAD_CSPI_MOSI__CSPI_MOSI		0xc4
				MX50_PAD_CSPI_SCLK__CSPI_SCLK		0xc4
				MX50_PAD_CSPI_SS0__GPIO4_11			0x0
				MX50_PAD_ECSPI1_MOSI__GPIO4_13		0xc4
			>;
		};

		pinctrl_pmic: pmicgrp {
			fsl,pins = <
				MX50_PAD_UART1_CTS__GPIO6_8		0x1c4
			>;
		};

		pinctrl_sdhc1: sdhc1grp {
			fsl,pins = <
				MX50_PAD_SD1_CMD__ESDHC1_CMD		0x400020d5
				MX50_PAD_SD1_CLK__ESDHC1_CLK		0x20d5
				MX50_PAD_SD1_D0__ESDHC1_DAT0		0x20d5
				MX50_PAD_SD1_D1__ESDHC1_DAT1		0x20d5
				MX50_PAD_SD1_D2__ESDHC1_DAT2		0x20d5
				MX50_PAD_SD1_D3__ESDHC1_DAT3		0x20d5
			>;
		};
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};
 
&sdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhc1>;
	status = "okay";
};
